<h1>Index Page of All Cats</h1>

<ul>
    <% Cat.all.each do |cat| %>
    <h1><%= cat.name %></h1>
    <br>
    <li><%= cat.color %></li>
    <li><%= cat.sex %></li>
    <li><%= cat.age %></li>
    <br>
    <% end %>
</ul>


